<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Bill</title>
</head>
<body>
	<div layout:fragment="form-body" class="col-12 col-sm-9">
		<div class="container mt-1">
			<div class="row">
				<h6>Create Bill</h6>
			</div>
			<hr />
			<div class="row">

				<form th:action="@{/bill/create}" method="post">
					
					<div class="mb-3 mt-3">
						<label for="ID" class="form-label">ID:</label> 
						<input type="text" class="form-control" placeholder="Enter id" name="id">
					</div>
					
					<div class="mb-3">
						<label class="form-label">User:</label> 
						<select name="user.id" class="form-control">
							<option  th:each="u : ${users}" th:value="${u.id}" th:text="${u.name + ' - ' + u.username}"></option>
						</select>
					</div>
					
					<button type="submit" class="btn btn-primary">Create</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>