<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Product</title>
</head>
<body>
	<div layout:fragment="form-body" class="col-12 col-sm-9">
		<div class="container mt-1">
			<div class="row">
				<h6>Create Product</h6>
			</div>
			<hr />
			<div class="row">

				<form th:object="${pro}" th:action="@{/product/create}" method="post">
					<div class="mb-3">
						<label for="pwd" class="form-label">Họ tên:</label> 
						<input type="text" class="form-control" placeholder="Enter họ tên" name="name">
					</div>
					
					<div class="mb-3">
						<label for="pwd" class="form-label">Price:</label> 
						<input type="number" class="form-control" placeholder="Enter giá" name="pricePro">
					</div>
					
					<div class="mb-3">
						<label for="pwd" class="form-label">Description:</label> 
						<input type="text" class="form-control" placeholder="Enter mô tả" name="desPro">
					</div>
					
					<!--  <p th:errors="*{bacLuong}" style="color:red;"></p>-->
					
					<div class="mb-3">
						<label class="form-label">Category:</label> 
						<select name="category.id" class="form-control">
							<option  th:each="c : ${categories}" th:value="${c.id}" th:text="${c.nameCate}"></option>
						</select>
					</div>
					
					<button type="submit" class="btn btn-primary">Create</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>