
<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Update Coupon</title>
</head>
<body>
	<div layout:fragment="form-body" class="col-12 col-sm-9">
		<div class="row">
			<h6>Update Coupon</h6>
		</div>
		<hr/>
		<div class="row">
			<form th:object="${coupon}" th:action="@{/coupon/update}" method="post">
				<div class="mb-3">
					<label class="form-label">ID:</label> 
					<input th:value="${coupon.id}" type="number" class="form-control" name="id">
				</div>
			
				<div class="mb-3">
					<label class="form-label">CouponCode:</label> 
					<input th:value="${coupon.couponCode}" type="text" class="form-control" name="couponCode">
					<p th:errors="*{couponCode}" style="color:red;"></p>
				</div>
				
				<div class="mb-3">
					<label class="form-label">DiscountAmount:</label> 
					<input th:value="${coupon.discountAmount}" type="number" class="form-control" name="discountAmount">
				</div>

				<div class="mb-3">
					<label class="form-label">ExpiredDate:</label>
					<div class="col-sm-3">
						<input th:value="${coupon.expiredDate}" type="text" class="form-control" placeholder="yyyy-MM-dd"
							name="expired_Date">
					</div>
				</div>

				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>