<!DOCTYPE html>
<html layout:decorator="home.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Create Department</title>
</head>
<body>
	<div layout:fragment="form-body" class="col-12 col-sm-9">
		<div class="row">
			<h6 th:text="#{departmet.create}"></h6>
		</div>
		<hr/>
		<div class="row">
			<form th:object="${department}" th:action="@{/department/create}" method="post">
			
				<div class="mb-3">
					<label class="form-label" th:text="#{departmet.tenPhong}"></label> 
					<input type="text" th:field="*{tenPhong}" class="form-control">
				</div>
				<p th:errors="*{tenPhong}" style="color: red;"></p>
				
				<div class="mb-3">
					<label class="form-label">Mô tả:</label> 
					<input th:field="*{moTa}" type="text" name="moTa" class="form-control" >
				</div>
				<p th:errors="*{moTa}" style="color: red;"></p>
				
				<div class="mb-3">
					<label class="form-label">Hệ số công việc:</label> 
					<input type="float" name="heSoCV" class="form-control" >
				</div>
				
				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Create</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>