
<div th:fragment="menu-body" class="col-12 col-sm-2 col-md-2">
	<ul class="list-group">
		<li class="list-group-item">
			<a th:href="@{/category/search}">Category</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/product/search}">Product</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/user/search}">User</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/bill/search}">Bill</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/coupon/search}">Coupon</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/billitems/search}">BillItems</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/bill/thongKe}">Thong ke don theo thang</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/bill/thongKe2}">Thong ke don theo username</a>
		</li>
		
		<li class="list-group-item">
			<a th:href="@{/bill/thongKe3}">Thong ke don theo couponCode</a>
		</li>
		<li class="list-group-item">Thoát</li>
	</ul>
</div>