<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Danh sach Category</title>
</head>
<body>
	
	<div th:replace="common/header :: header"></div>
	<a th:href="@{/category/create}">Create</a>
	
	<div th:each="category : ${list}">
		<p>
			<span>ID:</span>
			<span th:text="${category.id}"></span>
		</p>
		
		<p>
			<span>Name:</span>
			<span th:text="${category.name}"></span>
		</p>
		
		<p>
			<a th:href="@{'/category/delete?id=' + ${category.id}}">Delete</a>
			<a th:href="@{'/category/update?id=' + ${category.id}}">Update</a>
			
		</p>
		
		<p>---------------</p>
		
		<div th:replace="common/footer :: footer"></div>
	</div>
</body>
</html>