<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update User</title>
</head>
<body>

	<div th:replace="common/header :: header"></div>
	<form th:action="@{/category/update}" method="post">
		<label>ID:</label> 
		<br><input type= "number" name="id" th:value="${category.id}"> 
		
		<br><label>Name:</label> 
		<br><input type= "text" name="name" th:value="${category.name}">
		
		<br><button type="submit">Save</button>
	</form>

	<div th:replace="common/footer :: footer"></div>
</body>
</html>